[submodule "client"]
	path = client
	url = git@github.com:oopDaniel/COEN317-Raft-KVService-client.git
[submodule "goServer"]
	path = goServer
	url = git@github.com:oopDaniel/COEN317-Raft-KVService-go_server.git
